/* map-controls.css */
.map-controls-container {
    display: flex;
    flex-direction: column;
    gap: 5px; /* Adjust this value for spacing between the elements */
    align-items: center;
    position: absolute;
    top: 10px; /* Adjust the position of the container */
    left: 10px; /* Adjust the position of the container */
  }
  
  .custom-button {
    padding: 5px 10px;
    border: 1px solid #ccc;
    background-color: white;
    cursor: pointer;
  }
  